screenshot_*.jpg
video_shotcut_*.mp4
video_upend_*.mp4
video_*.mp4
video_analysis_*.mp4
output_*.mp4
*.log
*.js
!jest.config.js
*.d.ts
node_modules
data/processed*

# CDK asset staging directory
.cdk.staging
cdk.out
node_modules
node_modules
